@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to right, #F8AEA5, #BB93EA);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b548593;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FFAF44;
    text-align: center;
    text-shadow: 1px 1px 2px #8a5e25ab;
}

h2{
    color: #03258C;
}
p{
    text-align: justify;
}